// assets/styles/global.scss

// customize some Bootstrap variables
$primary: #2B2B2B;
$secondary: #F8F3EF;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #2B2B2B;
    color: #F8F3EF;
}

a {
    color: #F8F3EF;
}

.navbar {
    background-color: #0D0D0D;
}

.navbar-brand {
    color: #F8F3EF;
    font-weight: 600;
}

.navbar-brand:hover {
    color: #F27127;
}

.nav-link {
    color: #F8F3EF;
}

.nav-link:hover {
    color: #F27127;
}

.table {
    --bs-table-bg: #2B2B2B;
    --bs-table-color: #F8F3EF;
}

.btn {
    --bs-btn-color: #F8F3EF;
}